@import '../../index.scss';

#sills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-img {
  margin-bottom: 2rem;
  width: 250px;
  height: 250px;
  background-image: url('../../assets/nick.png');
  background-size: cover;
  border-radius: 100%;
  box-shadow: var(--outer-box-shadow);
}

article {
  column-count: 1;
  width: 90%;
}

article p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 820px) {
  .container {
    flex-direction: column;
  }
}
