 @import '../../index.scss';

 .container {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
 }

.about-img {
   display: flex;
   justify-content: center;
   margin: auto;
   margin-bottom: 3rem;
   width: 250px;
   height: 250px;
   background-image: url('../../assets/nick.png');
   background-size: cover;
   overflow: hidden;
   border-radius: 100%;
   box-shadow: var(--outer-box-shadow);
}

article {
   -webkit-columns: 2 200px;
   -moz-columns: 2 200px;
   columns: 2 200px;
 }

 article p {
   margin-bottom: 1rem;
 }

 @media screen and (max-width: 820px) {
    .column {
        width: 100%;
    }
 }