@import '../../index.scss';

.loading-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: var(--outer-box-shadow);
  }
  
  .loading-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 180px;
    height: 180px;
    border-radius: 100px;
    box-shadow: var(--inner-box-shadow);
    animation: spin 1s infinite linear;
  }
 
 .glowing-txt {
    -webkit-text-shadow: 0 0 0.125em hsla(0, 0%, 3%, 0.3),
    0 0 0.45em var(--primary-color);
    -moz-text-shadow: 0 0 0.125em hsla(0, 0%, 0%, 0.3),
    0 0 0.45em var(--primary-color);
    text-shadow: 0 0 0.125em hsla(0, 0%, 0%, 0.3), 0 0 0.45em var(--primary-color);
    animation: text-flicker 3s linear infinite;
  }

  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-count {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    left: 3px;
    width: 174px;
    height: 174px;
    border-radius: 100px;
    background: var(--bg-main);
    box-shadow: var(--inset-box-shadow);
    animation: spin 1s infinite linear reverse;
    color: var(--headers-glow);
    font-size: 2.6rem;
    font-weight: 900;
  }
  
  // text animation
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}